
<div class="container-fluid p0 text-center home-container col-lg-12 col-xs-12">
  <div class="column">
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to "#", class: "navbar-brand" do %>
      <h4>Johnny Girault</h4>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav nav-pills nav-fill">
          <li class="nav-item-presentation">
            <%= link_to "PRÉSENTATION", "#presentation", class: "nav-link" %>
          </li>
          <li class="nav-item-parcours">
            <%= link_to "COMPÉTENCE-WEB", "#competenceweb", class: "nav-link" %>
          </li>
          <li class="nav-item-portofolio">
            <%= link_to "COMPÉTENCE-INFORMATIQUE", "#competenceinfo", class: "nav-link" %>
          </li>
          <li class="nav-item-contact">
            <%= link_to "PROJECTS", "#mesprojets", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "johnny_id.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>
    </div>
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/header-bg-3693355c72266ed0174c06bb91661463cdd76e1f6dc5e155c365d5ff4597ce9f.jpg);">
        <div class="container">
          <h1>Johnny Girault</h1>
          <p>Developpeur Full Stack.</p>
        </div>
      </div>
      <div class="flex-item h2-paragraphe" id="presentation">
        présentation
      </div>
      <div id="trait-presentation">
      </div>

      <div class="conteneur">
        <div class="element">
          <div class="content">
            <div class="browser-bar">
              <span class="close button"></span>
              <span class="min button"></span>
              <span class="max button"></span>
            </div>
            <div class="text">
              <p>
                <span id="banner-typed-text"></span>
              </p>
            </div>
            </div>
          </div>

          <div class="element col-12">
            <div class="flex-item h2-paragraphe" id="competenceweb">
              compétence-web
            </div>
            <div id="trait-competenceweb">
            </div>

            <div class="text-competence">
              <p>HTML5 - CSS3</p>
              <hr class="true">
              <hr class="true">
              <hr class="true">
              <hr class="false">
              <p>Javascript - jQuery - React</p>
              <hr class="true">
              <hr class="true">
              <hr class="false">
              <hr class="false">
              <p>MySQL</p>
              <hr class="true">
              <hr class="true">
              <hr class="true">
              <hr class="false">
              <p>Ruby on rails</p>
              <hr class="true">
              <hr class="true">
              <hr class="true">
              <hr class="false">
            </div>
          </div>
          <div class="element col-12">
            <div class="flex-item h2-paragraphe" id="competenceinfo">
              compétence-informatique
            </div>
            <div id="trait-competenceinfo">
            </div>
            <div class="competence-card-treerow">
              <div class="competence-card">
                <%= image_tag "icones/mac.svg", alt: "mac" %>
              </div>
              <div class="competence-card">
                <%= image_tag "icones/linux.svg", alt: "linux" %>
              </div>
              <div class="competence-card">
                <%= image_tag "icones/figma.svg", alt: "figma" %>
              </div>
              <div class="competence-card">
                <%= image_tag "icones/github.svg", alt: "github" %>
              </div>
            </div>

            <div class="competence-card-fourrow">
              <div class="competence-card">
                <%= image_tag "icones/qnap.svg", alt: "qnap", width: 80, height: 80 %>
              </div>
              <div class="competence-card">
                <%= image_tag "icones/synology.svg", alt: "synology", width: 80, height: 80 %>
              </div>
              <div class="competence-card">
                <%= image_tag "icones/windows-server.svg", alt: "windows server", width: 80, height: 80 %>
              </div>
              <div class="competence-card">
                <%= image_tag "icones/vmware.svg", alt: "vmware", width: 80, height: 80 %>
              </div>
            </div>
          </div>

        <div class="element col-12">
          <div class="cv">
            <a href="CV_Girault_Johnny_2019.pdf" download="CV_Girault_Johnny_2019.pdf" target="_blank" class="cvdown"><i class="fa fa-download"></i> Télécharge mon CV papier</a>
          </div>
        </div>
        <div class="element col-12">
          <div class="flex-item h2-paragraphe" id="mesprojets">
              Mes Projets
          </div>
          <div id="trait-mesprojets">
          </div>
          <div class="projet">
            <div class="img-fridgefriends">
              <%= image_tag "FridgeFriends.png", alt: "Fridge Friends", height: "5%", width: "18%", class: "pt-3" %>

              <div class="font-projets">
                <div class="flex-item h3-paragraphe" id="mesprojets-f">
                  FridgeFriends.fr
                </div>
                  <p>Ne jette plus ta nourriture, donne-la !</p>
                  <p>L'application Fridge Friends organise pour toi</p>
                  <p>le don de nourriture.</p>
                  <p>Au lieu de la jeter, propose à </p>
                  <p>tes proches de les récupérer gratuitement !</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer col-12">
        <div class="footer-links">
          <a href="https://github.com/esbo22"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/jgirault22/"><i class="fab fa-linkedin"></i></a>
        </div>
          <div>
            <i class="fas fa-heart"></i>
            copyright Johnny Girault 2019
            <%= image_tag "johnny_id.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          </div>
      </div>
  </div>
</div>


